VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

PORT=8080
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

OPENAI_API_KEY=
SERPAPI_KEY=

SMTP_EMAIL=
SMTP_APP_PASSWORD=
DEFAULT_RECIPIENT_EMAIL=
DEFAULT_JOB_DOMAINS=AI Engineer,Full Stack Developer
DEFAULT_JOB_LOCATIONS=Remote
